
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #222;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  //padding:50px 0;
}

.stage {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.img-sec {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #dddddd;

  .img-figure {
    position: absolute;

    padding: 40px 40px 0;
    //max-width:400px;
    background-color: #fff;
    box-shadow: 0 0 10px #777;
    cursor: pointer;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(1, 0.33, 0.11, 1.25);

    perspective: 800;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: 50% 50% 0;

    &.reverse {
      transform: translate(-50%, -50%) rotateY(180deg) !important;

    }

  }

  img {
    display: block;
    //width: 400px;
    max-width: 250px;
    max-height: 560px;
    transition: max-width 1s,max-height 1s;

  }

  figcaption {
    text-align: center;
    padding: 20px 0;
    color: #a7a7a7;

    @at-root {
      .back-description {

        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;

        padding: 30px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        cursor: pointer;
        font-size: 22px;
        color: #aaa;

        transform-style: preserve-3d;
        transform-origin: 50% 50% 0;
        backface-visibility: hidden;
        transform: rotateY(180deg);

      }

    }

  }

}

.controller-nav {
  position: absolute;
  left: 50%;
  bottom: 50px;
  z-index: 101;
  //width: 100%;
  max-width:800px;

  transform: translate(-50%,0);
  text-align: center;

  span {
    position: relative;

    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #999;
    margin:2px 8px;

    cursor: pointer;
    transition: transform ease-in 0.5s;


    &:after,&:before {
      content: ' ';
      position: absolute;
      top:50%;
      left: 50%;

      display: inline-block;
      width: 10px;
      height: 10px;
      margin-left:-5px;
      margin-top: -5px;

      border-radius: 50%;
      background-color: #ff4c58;
      transition-duration: 0.8s;
      transform: scale(0);
    }
    
    &:before {
      background-color: #009688;
    }

    &.active {
      transform: scale(1.5);
      &:after {
        transform: scale(1);
      }

    }
  }

  span.reverse {
    &:before {
      transform: scale(1);
    }

    &:after {
      transform: scale(0);

    }
  }

}



